/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package io.conekta

import java.io.IOException
import okhttp3.OkHttpClient
import okhttp3.HttpUrl

import io.conekta.model.DiscountLinesResponse
import io.conekta.model.Error
import io.conekta.model.GetOrderDiscountLinesResponse
import io.conekta.model.OrderDiscountLinesRequest
import io.conekta.model.UpdateOrderDiscountLinesRequest

import com.google.gson.annotations.SerializedName

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

class DiscountsApi(basePath: kotlin.String = defaultBasePath, client: OkHttpClient = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.conekta.io")
        }
    }

    /**
     * enum for parameter acceptLanguage
     */
     enum class AcceptLanguageOrdersCreateDiscountLine(val value: kotlin.String) {
         @SerializedName(value = "es") es("es"),
         @SerializedName(value = "en") en("en")
     }

    /**
     * Create Discount
     * Create discount lines for an existing orden
     * @param id Identifier of the resource
     * @param orderDiscountLinesRequest requested field for a discount lines
     * @param acceptLanguage Use for knowing which language to use (optional, default to es)
     * @param xChildCompanyId In the case of a holding company, the company id of the child company to which will process the request. (optional)
     * @return DiscountLinesResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ordersCreateDiscountLine(id: kotlin.String, orderDiscountLinesRequest: OrderDiscountLinesRequest, acceptLanguage: AcceptLanguageOrdersCreateDiscountLine? = AcceptLanguageOrdersCreateDiscountLine.es, xChildCompanyId: kotlin.String? = null) : DiscountLinesResponse {
        val localVarResponse = ordersCreateDiscountLineWithHttpInfo(id = id, orderDiscountLinesRequest = orderDiscountLinesRequest, acceptLanguage = acceptLanguage, xChildCompanyId = xChildCompanyId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DiscountLinesResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Create Discount
     * Create discount lines for an existing orden
     * @param id Identifier of the resource
     * @param orderDiscountLinesRequest requested field for a discount lines
     * @param acceptLanguage Use for knowing which language to use (optional, default to es)
     * @param xChildCompanyId In the case of a holding company, the company id of the child company to which will process the request. (optional)
     * @return ApiResponse<DiscountLinesResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun ordersCreateDiscountLineWithHttpInfo(id: kotlin.String, orderDiscountLinesRequest: OrderDiscountLinesRequest, acceptLanguage: AcceptLanguageOrdersCreateDiscountLine?, xChildCompanyId: kotlin.String?) : ApiResponse<DiscountLinesResponse?> {
        val localVariableConfig = ordersCreateDiscountLineRequestConfig(id = id, orderDiscountLinesRequest = orderDiscountLinesRequest, acceptLanguage = acceptLanguage, xChildCompanyId = xChildCompanyId)

        return request<OrderDiscountLinesRequest, DiscountLinesResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ordersCreateDiscountLine
     *
     * @param id Identifier of the resource
     * @param orderDiscountLinesRequest requested field for a discount lines
     * @param acceptLanguage Use for knowing which language to use (optional, default to es)
     * @param xChildCompanyId In the case of a holding company, the company id of the child company to which will process the request. (optional)
     * @return RequestConfig
     */
    fun ordersCreateDiscountLineRequestConfig(id: kotlin.String, orderDiscountLinesRequest: OrderDiscountLinesRequest, acceptLanguage: AcceptLanguageOrdersCreateDiscountLine?, xChildCompanyId: kotlin.String?) : RequestConfig<OrderDiscountLinesRequest> {
        val localVariableBody = orderDiscountLinesRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        acceptLanguage?.apply { localVariableHeaders["Accept-Language"] = this.toString() }
        xChildCompanyId?.apply { localVariableHeaders["X-Child-Company-Id"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/vnd.conekta-v2.1.0+json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/orders/{id}/discount_lines".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter acceptLanguage
     */
     enum class AcceptLanguageOrdersDeleteDiscountLines(val value: kotlin.String) {
         @SerializedName(value = "es") es("es"),
         @SerializedName(value = "en") en("en")
     }

    /**
     * Delete Discount
     * Delete an existing discount lines for an existing orden
     * @param id Identifier of the resource
     * @param discountLinesId discount line id identifier
     * @param acceptLanguage Use for knowing which language to use (optional, default to es)
     * @param xChildCompanyId In the case of a holding company, the company id of the child company to which will process the request. (optional)
     * @return DiscountLinesResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ordersDeleteDiscountLines(id: kotlin.String, discountLinesId: kotlin.String, acceptLanguage: AcceptLanguageOrdersDeleteDiscountLines? = AcceptLanguageOrdersDeleteDiscountLines.es, xChildCompanyId: kotlin.String? = null) : DiscountLinesResponse {
        val localVarResponse = ordersDeleteDiscountLinesWithHttpInfo(id = id, discountLinesId = discountLinesId, acceptLanguage = acceptLanguage, xChildCompanyId = xChildCompanyId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DiscountLinesResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Delete Discount
     * Delete an existing discount lines for an existing orden
     * @param id Identifier of the resource
     * @param discountLinesId discount line id identifier
     * @param acceptLanguage Use for knowing which language to use (optional, default to es)
     * @param xChildCompanyId In the case of a holding company, the company id of the child company to which will process the request. (optional)
     * @return ApiResponse<DiscountLinesResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun ordersDeleteDiscountLinesWithHttpInfo(id: kotlin.String, discountLinesId: kotlin.String, acceptLanguage: AcceptLanguageOrdersDeleteDiscountLines?, xChildCompanyId: kotlin.String?) : ApiResponse<DiscountLinesResponse?> {
        val localVariableConfig = ordersDeleteDiscountLinesRequestConfig(id = id, discountLinesId = discountLinesId, acceptLanguage = acceptLanguage, xChildCompanyId = xChildCompanyId)

        return request<Unit, DiscountLinesResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ordersDeleteDiscountLines
     *
     * @param id Identifier of the resource
     * @param discountLinesId discount line id identifier
     * @param acceptLanguage Use for knowing which language to use (optional, default to es)
     * @param xChildCompanyId In the case of a holding company, the company id of the child company to which will process the request. (optional)
     * @return RequestConfig
     */
    fun ordersDeleteDiscountLinesRequestConfig(id: kotlin.String, discountLinesId: kotlin.String, acceptLanguage: AcceptLanguageOrdersDeleteDiscountLines?, xChildCompanyId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        acceptLanguage?.apply { localVariableHeaders["Accept-Language"] = this.toString() }
        xChildCompanyId?.apply { localVariableHeaders["X-Child-Company-Id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/vnd.conekta-v2.1.0+json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/orders/{id}/discount_lines/{discount_lines_id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())).replace("{"+"discount_lines_id"+"}", encodeURIComponent(discountLinesId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter acceptLanguage
     */
     enum class AcceptLanguageOrdersGetDiscountLine(val value: kotlin.String) {
         @SerializedName(value = "es") es("es"),
         @SerializedName(value = "en") en("en")
     }

    /**
     * Get Discount
     * Get an existing discount lines for an existing orden
     * @param id Identifier of the resource
     * @param discountLinesId discount line id identifier
     * @param acceptLanguage Use for knowing which language to use (optional, default to es)
     * @param xChildCompanyId In the case of a holding company, the company id of the child company to which will process the request. (optional)
     * @return DiscountLinesResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ordersGetDiscountLine(id: kotlin.String, discountLinesId: kotlin.String, acceptLanguage: AcceptLanguageOrdersGetDiscountLine? = AcceptLanguageOrdersGetDiscountLine.es, xChildCompanyId: kotlin.String? = null) : DiscountLinesResponse {
        val localVarResponse = ordersGetDiscountLineWithHttpInfo(id = id, discountLinesId = discountLinesId, acceptLanguage = acceptLanguage, xChildCompanyId = xChildCompanyId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DiscountLinesResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get Discount
     * Get an existing discount lines for an existing orden
     * @param id Identifier of the resource
     * @param discountLinesId discount line id identifier
     * @param acceptLanguage Use for knowing which language to use (optional, default to es)
     * @param xChildCompanyId In the case of a holding company, the company id of the child company to which will process the request. (optional)
     * @return ApiResponse<DiscountLinesResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun ordersGetDiscountLineWithHttpInfo(id: kotlin.String, discountLinesId: kotlin.String, acceptLanguage: AcceptLanguageOrdersGetDiscountLine?, xChildCompanyId: kotlin.String?) : ApiResponse<DiscountLinesResponse?> {
        val localVariableConfig = ordersGetDiscountLineRequestConfig(id = id, discountLinesId = discountLinesId, acceptLanguage = acceptLanguage, xChildCompanyId = xChildCompanyId)

        return request<Unit, DiscountLinesResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ordersGetDiscountLine
     *
     * @param id Identifier of the resource
     * @param discountLinesId discount line id identifier
     * @param acceptLanguage Use for knowing which language to use (optional, default to es)
     * @param xChildCompanyId In the case of a holding company, the company id of the child company to which will process the request. (optional)
     * @return RequestConfig
     */
    fun ordersGetDiscountLineRequestConfig(id: kotlin.String, discountLinesId: kotlin.String, acceptLanguage: AcceptLanguageOrdersGetDiscountLine?, xChildCompanyId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        acceptLanguage?.apply { localVariableHeaders["Accept-Language"] = this.toString() }
        xChildCompanyId?.apply { localVariableHeaders["X-Child-Company-Id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/vnd.conekta-v2.1.0+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/orders/{id}/discount_lines/{discount_lines_id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())).replace("{"+"discount_lines_id"+"}", encodeURIComponent(discountLinesId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter acceptLanguage
     */
     enum class AcceptLanguageOrdersGetDiscountLines(val value: kotlin.String) {
         @SerializedName(value = "es") es("es"),
         @SerializedName(value = "en") en("en")
     }

    /**
     * Get a List of Discount
     * Get discount lines for an existing orden
     * @param id Identifier of the resource
     * @param acceptLanguage Use for knowing which language to use (optional, default to es)
     * @param xChildCompanyId In the case of a holding company, the company id of the child company to which will process the request. (optional)
     * @param limit The numbers of items to return, the maximum value is 250 (optional, default to 20)
     * @param search General order search, e.g. by mail, reference etc. (optional)
     * @param next next page (optional)
     * @param previous previous page (optional)
     * @return GetOrderDiscountLinesResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ordersGetDiscountLines(id: kotlin.String, acceptLanguage: AcceptLanguageOrdersGetDiscountLines? = AcceptLanguageOrdersGetDiscountLines.es, xChildCompanyId: kotlin.String? = null, limit: kotlin.Int? = 20, search: kotlin.String? = null, next: kotlin.String? = null, previous: kotlin.String? = null) : GetOrderDiscountLinesResponse {
        val localVarResponse = ordersGetDiscountLinesWithHttpInfo(id = id, acceptLanguage = acceptLanguage, xChildCompanyId = xChildCompanyId, limit = limit, search = search, next = next, previous = previous)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetOrderDiscountLinesResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Get a List of Discount
     * Get discount lines for an existing orden
     * @param id Identifier of the resource
     * @param acceptLanguage Use for knowing which language to use (optional, default to es)
     * @param xChildCompanyId In the case of a holding company, the company id of the child company to which will process the request. (optional)
     * @param limit The numbers of items to return, the maximum value is 250 (optional, default to 20)
     * @param search General order search, e.g. by mail, reference etc. (optional)
     * @param next next page (optional)
     * @param previous previous page (optional)
     * @return ApiResponse<GetOrderDiscountLinesResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun ordersGetDiscountLinesWithHttpInfo(id: kotlin.String, acceptLanguage: AcceptLanguageOrdersGetDiscountLines?, xChildCompanyId: kotlin.String?, limit: kotlin.Int?, search: kotlin.String?, next: kotlin.String?, previous: kotlin.String?) : ApiResponse<GetOrderDiscountLinesResponse?> {
        val localVariableConfig = ordersGetDiscountLinesRequestConfig(id = id, acceptLanguage = acceptLanguage, xChildCompanyId = xChildCompanyId, limit = limit, search = search, next = next, previous = previous)

        return request<Unit, GetOrderDiscountLinesResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ordersGetDiscountLines
     *
     * @param id Identifier of the resource
     * @param acceptLanguage Use for knowing which language to use (optional, default to es)
     * @param xChildCompanyId In the case of a holding company, the company id of the child company to which will process the request. (optional)
     * @param limit The numbers of items to return, the maximum value is 250 (optional, default to 20)
     * @param search General order search, e.g. by mail, reference etc. (optional)
     * @param next next page (optional)
     * @param previous previous page (optional)
     * @return RequestConfig
     */
    fun ordersGetDiscountLinesRequestConfig(id: kotlin.String, acceptLanguage: AcceptLanguageOrdersGetDiscountLines?, xChildCompanyId: kotlin.String?, limit: kotlin.Int?, search: kotlin.String?, next: kotlin.String?, previous: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
                if (next != null) {
                    put("next", listOf(next.toString()))
                }
                if (previous != null) {
                    put("previous", listOf(previous.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        acceptLanguage?.apply { localVariableHeaders["Accept-Language"] = this.toString() }
        xChildCompanyId?.apply { localVariableHeaders["X-Child-Company-Id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/vnd.conekta-v2.1.0+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/orders/{id}/discount_lines".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter acceptLanguage
     */
     enum class AcceptLanguageOrdersUpdateDiscountLines(val value: kotlin.String) {
         @SerializedName(value = "es") es("es"),
         @SerializedName(value = "en") en("en")
     }

    /**
     * Update Discount
     * Update an existing discount lines for an existing orden
     * @param id Identifier of the resource
     * @param discountLinesId discount line id identifier
     * @param updateOrderDiscountLinesRequest requested field for a discount lines
     * @param acceptLanguage Use for knowing which language to use (optional, default to es)
     * @param xChildCompanyId In the case of a holding company, the company id of the child company to which will process the request. (optional)
     * @return DiscountLinesResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ordersUpdateDiscountLines(id: kotlin.String, discountLinesId: kotlin.String, updateOrderDiscountLinesRequest: UpdateOrderDiscountLinesRequest, acceptLanguage: AcceptLanguageOrdersUpdateDiscountLines? = AcceptLanguageOrdersUpdateDiscountLines.es, xChildCompanyId: kotlin.String? = null) : DiscountLinesResponse {
        val localVarResponse = ordersUpdateDiscountLinesWithHttpInfo(id = id, discountLinesId = discountLinesId, updateOrderDiscountLinesRequest = updateOrderDiscountLinesRequest, acceptLanguage = acceptLanguage, xChildCompanyId = xChildCompanyId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DiscountLinesResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Update Discount
     * Update an existing discount lines for an existing orden
     * @param id Identifier of the resource
     * @param discountLinesId discount line id identifier
     * @param updateOrderDiscountLinesRequest requested field for a discount lines
     * @param acceptLanguage Use for knowing which language to use (optional, default to es)
     * @param xChildCompanyId In the case of a holding company, the company id of the child company to which will process the request. (optional)
     * @return ApiResponse<DiscountLinesResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun ordersUpdateDiscountLinesWithHttpInfo(id: kotlin.String, discountLinesId: kotlin.String, updateOrderDiscountLinesRequest: UpdateOrderDiscountLinesRequest, acceptLanguage: AcceptLanguageOrdersUpdateDiscountLines?, xChildCompanyId: kotlin.String?) : ApiResponse<DiscountLinesResponse?> {
        val localVariableConfig = ordersUpdateDiscountLinesRequestConfig(id = id, discountLinesId = discountLinesId, updateOrderDiscountLinesRequest = updateOrderDiscountLinesRequest, acceptLanguage = acceptLanguage, xChildCompanyId = xChildCompanyId)

        return request<UpdateOrderDiscountLinesRequest, DiscountLinesResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ordersUpdateDiscountLines
     *
     * @param id Identifier of the resource
     * @param discountLinesId discount line id identifier
     * @param updateOrderDiscountLinesRequest requested field for a discount lines
     * @param acceptLanguage Use for knowing which language to use (optional, default to es)
     * @param xChildCompanyId In the case of a holding company, the company id of the child company to which will process the request. (optional)
     * @return RequestConfig
     */
    fun ordersUpdateDiscountLinesRequestConfig(id: kotlin.String, discountLinesId: kotlin.String, updateOrderDiscountLinesRequest: UpdateOrderDiscountLinesRequest, acceptLanguage: AcceptLanguageOrdersUpdateDiscountLines?, xChildCompanyId: kotlin.String?) : RequestConfig<UpdateOrderDiscountLinesRequest> {
        val localVariableBody = updateOrderDiscountLinesRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        acceptLanguage?.apply { localVariableHeaders["Accept-Language"] = this.toString() }
        xChildCompanyId?.apply { localVariableHeaders["X-Child-Company-Id"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/vnd.conekta-v2.1.0+json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/orders/{id}/discount_lines/{discount_lines_id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())).replace("{"+"discount_lines_id"+"}", encodeURIComponent(discountLinesId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
