<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.conekta.tokenizer">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- device collector permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- device collector permissions -->
    <application android:allowBackup="true" android:label="@string/app_name">

    </application>

</manifest>
